<section class="container" [ngClass]="formStatus" >
  <!-- <section [ngClass]="formStatus"></section> -->
  <header>Registration Form</header>

  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="formSubmitted()">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" formControlName="firstName" />
        <small *ngIf="reactiveForm.get('firstName')?.errors?.['required']  && reactiveForm.get('firstName')?.touched "> *First Name ia a required field.</small>  
        <small *ngIf="reactiveForm.get('firstName')?.errors?.['nospaceAllowed']  && reactiveForm.get('firstName')?.touched "> *No Space Is Allowed.</small>
      </div> 

      <!-- ?.errors?.['required'] this operator is called as optional chaining  -->

      <div class="input-box">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
        <small *ngIf="reactiveForm.get('lastName')?.errors?.['required'] && reactiveForm.get('lastName')?.touched">*Last Name is Required field.</small>
        <small *ngIf="reactiveForm.get('lastName')?.errors?.['nospaceAllowed'] && reactiveForm.get('lastName')?.touched">*No Space Is Allowed.</small>
      </div>
    </div>    

    <div class="input-box" (keypress)="isValid()">
      <input type="text" placeholder="Email : abc@gmail.com" formControlName="email" />
      <small *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched">*email is Required field.</small>
      <small *ngIf="isEmail" style="color: green;">email is Valid.</small>
      <!-- <small *ngIf="!isTrue" >* email is Not Valid.</small> -->
      <!-- <small *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched">*email is Required field.</small> -->
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" formControlName="phoneNumber"/>
        <small *ngIf="reactiveForm.get('phoneNumber')?.invalid && reactiveForm.get('phoneNumber')?.touched">*Phone Number Must Have 10 Digit</small>
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" formControlName="dob" />
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="username" formControlName="userName" />
      <p id="first" *ngIf="reactiveForm.get('userName')?.pending"> Please Wait We are Checking  </p>
      <small *ngIf="reactiveForm.get('userName')?.invalid && reactiveForm.get('userName')?.touched || reactiveForm.get('userName')?.parent === null"> UserName Is Required</small><br>
      <small  *ngIf="reactiveForm.get('userName')?.errors?.['checkUsername']"> This Username Is Already Taken By Others !<br> </small>
      <small style="color: green;" *ngIf="reactiveForm.get('userName')?.errors === null && reactiveForm.get('userName')?.pending === false"> This Username Is Available ! <br> </small>
      <button class="btn-gen-username" type="button" (click)="createUserName()" [disabled]="!(reactiveForm.get('firstName')?.value && reactiveForm.get('lastName')?.value && reactiveForm.get('dob')?.value)">
        Create a Username
      </button>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" value="male" id="check-male"  formControlName="gender" />
          <label for="check-male">Male</label>
        </div>
        <div class="gender">
          <input type="radio" value="female" id="check-female" formControlName="gender" />
          <label for="check-female">Female</label>
        </div>
        <div class="gender">
          <input type="radio" value="other" id="check-other" formControlName="gender" />
          <label for="check-other">Prefer not to say</label>
        </div>
      </div>
    </div>

    <div class="input-box address" formGroupName="address">
      <label>Address</label>
      <input type="text" placeholder="Street address" formControlName="street" />
      <small *ngIf="reactiveForm.get('address.street')?.invalid && reactiveForm.get('address.street')?.touched">*Street Address is Required</small>
      <input type="text" placeholder="Street address line 2" />
      <div class="column">
        <div class="select-box">
          <select name="country" formControlName="country">
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
          <small *ngIf="reactiveForm.get('address.country')?.invalid && reactiveForm.get('address.country')?.touched">*Country is Required</small>
        </div>
        <input type="text" placeholder="City" formControlName="city" />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" formControlName="region" />
        <input type="number" placeholder="Postal code" formControlName="postal" />
        <small *ngIf="reactiveForm.get('address.postal')?.invalid && reactiveForm.get('address.postal')?.touched">*Postal Code  is Required</small>
      </div>
    </div>
      <div class="input-box skills" formArrayName="skills">
        <label > <b>Add Skill</b></label>
        <div class="column" *ngFor="let control of addSkills(); let i=index">
               <!-- <input type="text" placeholder="Add Skill.." *ngFor="let control of reactiveForm.get('skills')['controls']; let i = index" [formControlName]="i"> -->
               <input type="text" placeholder="Add Skill..{{i+1}}"  [formControlName]="i">
               <button type="button"  class="btn-add-delete" (click)="DeleteSkills(i)"> Delete </button>
        </div>
    </div>
    <button type="button" class="btn-add-delete" (click)="SkillAddDynamic()">Add Skills</button>
  

            <div  class="input-box experience" formArrayName="experience" >
              <div class="experience"  *ngFor="let exp of addExp(); let i = index" [formGroupName]="i">
                <h4>Experience {{i + 1}}</h4>
                <input type="text" placeholder="Company Name" formControlName="companyName"/>
                <div class="column">
                  <div class="select-box">
                    <select formControlName="position">
                      <option hidden>Position</option>
                      <option>Junior Developer</option>
                      <option>Software Developer</option>
                      <option>Senior Developer</option>
                      <option>Team Lead</option>
                    </select>
                  </div>
                  <input type="number" placeholder="Experience"  formControlName="totalExp" />
                </div>
                <div class="column">
                  <input type="date" placeholder="Start Date"  formControlName="start" />
                  <input type="date" placeholder="End Date"  formControlName = "end" />
                </div>
                <button type="button" class="btn-add-delete"  (click)="deleteExp(i)" >Delete Experience</button>
              </div>
            </div>
            <button type="button" class="btn-add-delete" (click)="addExperience()">Add Experience</button>
  
    <input type="submit" value="Submit" class="submit-btn"> 
  </form>
</section>


<section class="user-detail-container">
  <div class="user-details-container">
    <div class="user-avatar">
      <p style="text-align: center;">{{formData.firstName?.slice(0, 1)}}{{formData.lastName?.slice(0, 1)}}</p>
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2>{{formData.firstName}} {{formData.lastName}}</h2>
      </div>
      <p><b>Email:</b> {{formData.email}}</p>
      <p><b>Username:</b> {{formData.userName}} </p>
      <p><b>Date of birth:</b> {{formData.dob}}</p>
      <div class="user-name">
        <h3>Address</h3>
      </div>
      <span>{{formData.address?.country}}</span>.
      <span> {{formData.address?.city}}</span>.
      <span> {{formData.address?.region}}</span>.
      <span> {{formData.address?.postal}}</span>
    </div>
  </div>
</section>